[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[packages]
scikit-learn = "*"
pandas = "*"
luigi = "*"
tqdm = "*"
numpy = "*"
numba = "*"
matplotlib = "*"
tensorflow = "*"
seaborn = "*"
statsmodels = "*"

[dev-packages]
plotly = "*"

[requires]
python_version = "3.6"
